@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #1eb2a6;
  --secondary-background: #22c8ba;
}

.flex-center{
  @apply flex items-center justify-center;
}

.banner{
  background: url('../../public/images/banner.webp');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.stats{
  background: url("../../public/images/bg_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}